scratch
.favorites.json
NOTES.md

**/recordings/*

# Hasura config
**/hasura/config.yaml

# Server
**/tmp/

# Client
client/.quasar
client/src/store/store-flag.d.ts

# Env variables
.env
**/prod.env

# compiled output
**/dist
**/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
# **/.vscode/*

/data/**/*
!/data/.gitkeep