localhost

@server {
    path /login
    path /logout
    path /session
    path /keycloak/*
    path /minio/*
}

@client {
    path /*
}


reverse_proxy @server {$DOCKER_HOST_IP}:8000
reverse_proxy @client {$DOCKER_HOST_IP}:8080
